<a href="https://colab.research.google.com/github/asih1725/week3/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Python is powerful')

Python is powerful

In [ ]:
print('good morning')
print('it is rainy today')

good morning
it is rainy today

In [ ]:
# print with end whitwespace
#print('good morning!', end= '')

print('good morning!', end = '')

print('it is rainy today')

good morning!it is rainy today

In [ ]:
print('new year', 2023, 'see you soon!', sep= '.')

new year.2023.see you soon!

In [ ]:
number = -10.6

name = 'teknologi informasi'

# print literals
print(5)

# print variables
print(number)
print(name)

5
-10.6
teknologi informasi

In [ ]:
print('teknologi informasi ' + 'universitas tidar')

teknologi informasi universitas tidar

In [ ]:
x = 5
y = 10

print('the value of x {} and y is {}'. format(x,y))

the value of x 5 and y is 10

In [ ]:
# using input() to take user input
num = input(' Enter a number: ')

print('you entered:', num)

print('data type of num:', type(num))

 Enter a number: 45
you entered: 45
data type of num: <class 'str'>

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=9250293c659c4e68df5d8a3622f6e11227aca7433909db7dbb3268a9cd158c05
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
# Download Example file
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-06 09:28:34--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-06 09:28:34 (17.0 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
# read the examplel1.txt

example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
# print the path of file
file1.name

'/resources/data/Example1.txt'

In [ ]:
# print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Type of file content

type(FileContent)

str

In [ ]:
# Close file after finish

file1.close()

In [ ]:
# Open file using with

with open(example1, "r") as file1:
  FileContent = file1.read()
  print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Verify if the file is closed

file1.closed

True

In [ ]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Read first four characters

with open(example1, 'r') as file1:
  print(file1.read(4))

This

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
# read one line

with open(example1, "r") as file1:
  print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
# read all lines and save as a list

with open(example1, 'r') as file1:
  Fileaslist = file1.readlines()

In [ ]:
# Read all lines and save as a list

with open(example1, 'r') as file1:
  Fileaslist = file1.readlines()

# Print the first line

Fileaslist[0]

'This is line 1 \n'

In [ ]:
# Print the second line

Fileaslist[1]

'This is line 2\n'

In [ ]:
# Print the thord line

Fileaslist[2]

'This is line 3'

In [ ]:
!mkdir -p /resources/data

In [ ]:
# Write line to file

with open('/resources/data/Example2.txt', 'w') as writefiles:
  writefiles.write("this is line A")

In [ ]:
# Read file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

this is line A

In [ ]:
# Write lines to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Check whether write to file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [ ]:
# Write a new line to text file

with open('/resources/data/Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

In [ ]:
# Verify if the new line is in the text file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
# simple list of text

Lines = ["This is line  A\n", "This is line B \n", "This is line C\n"]
Lines

['This is line  A\n', 'This is line B \n', 'This is line C\n']

In [ ]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line  A

This is line B

This is line C

In [ ]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line  A
This is line B
This is line C

In [ ]:
# Append the line to the file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line D\n")

In [ ]:
# Verify if the appending is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line  A
This is line B
This is line C
This is line D

In [ ]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [ ]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

This is line  A
This is line B
This is line C
This is line D

In [84]:
!mkdir /resources
!mkdir /resources/data # Creates the directory if it doesn't exist
with open('/resources/data/setiasih.txt', 'w') as writefile:
    writefile.write("Nama	        : Setiasih\n")
    writefile.write("Program Studi	: S1 Teknologi Informasi\n")
    writefile.write("NPM	      	: 2410506011\n")
    writefile.write("Alamat	      	: Malibari, Ngargoloka, Gladagsari, Boyolali\n")
    writefile.write("Hobi	        : voli\n")
    writefile.write("Email	      	: setyaasih34@gmail.com\n")

In [85]:
with open('/resources/data/setiasih.txt', 'r') as testwritefile:
    print(testwritefile.read())

Nama	        : Setiasih
Program Studi	: S1 Teknologi Informasi
NPM	      	: 2410506011
Alamat	      	: Malibari, Ngargoloka, Gladagsari, Boyolali
Hobi	        : voli
Email	      	: setyaasih34@gmail.com

In [86]:
with open('/resources/data/setiasih.txt', 'r') as testwritefile:
    print(testwritefile.read())

Nama	        : Setiasih
Program Studi	: S1 Teknologi Informasi
NPM	      	: 2410506011
Alamat	      	: Malibari, Ngargoloka, Gladagsari, Boyolali
Hobi	        : voli
Email	      	: setyaasih34@gmail.com

In [88]:
with open('/resources/data/setiasih.txt',"r") as file1: # Changed the file path to the correct location.
  i = 0
  for line in file1:
    print("Iteration", str(i), ": ", line)
    i = i + 1

Iteration 0 :  Nama	        : Setiasih

Iteration 1 :  Program Studi	: S1 Teknologi Informasi

Iteration 2 :  NPM	      	: 2410506011

Iteration 3 :  Alamat	      	: Malibari, Ngargoloka, Gladagsari, Boyolali

Iteration 4 :  Hobi	        : voli

Iteration 5 :  Email	      	: setyaasih34@gmail.com

In [90]:
with open('/resources/data/setiasih.txt', "r") as file1: # Changed the file path to the correct location.
  fileasList = file1.readlines()
  print (fileasList[0])
  print (fileasList[1])
  print (fileasList[5])

Nama	        : Setiasih

Program Studi	: S1 Teknologi Informasi

Email	      	: setyaasih34@gmail.com

In [98]:
with open('/resources/data/setiasih.txt', 'r') as readfile: # Added the correct file path.
  with open('setiasih.txt', 'w') as writefile:
    for line in readfile:
      if "Hobi" not in line and "Email" not in line:
        writefile.write(line)

In [99]:
with open('setiasih.txt', 'r') as testwritefile:
  print(testwritefile.read())

Nama	        : Setiasih
Program Studi	: S1 Teknologi Informasi
NPM	      	: 2410506011
Alamat	      	: Malibari, Ngargoloka, Gladagsari, Boyolali

In [ ]:
print ("Selamat datang di Toko Maju Jaya")
print ("Senin, 4 September 2023  13.05")
print (" ")

print ("DAFTAR BELANJA:")
item1 = 'Sabun'
item2 = 'Shampo'
item3 = 'Mie instant'
item4 = 'Detergen'
harga1 = '10000'
harga2 = '15000'
harga3 = '5000'
harga4 = '17500'

harga1 = int(harga1)
harga2 = int(harga2)
harga3 = int(harga3)
harga4 = int(harga4)

total = harga1+harga2+harga3+harga4

print(item1 + ",    = Rp" + str(harga1))
print(item2 + ",    = Rp" + str(harga2))
print(item3 + ",    = Rp" + str(harga3))
print(item4 + ",    = Rp" + str(harga4))

print(" ")
print("Total = Rp "+str(total))
with open('Kuitansi.txt', 'w') as writefile:
    writefile.write("Selamat Datang di Toko Maju Jaya\n")
    writefile.write(" \n")
    writefile.write("Kuitansi - 4 Septermber 2023\n")
    writefile.write(" \n")
    writefile.write(item1 + " = Rp " + str(harga1) + "\n")
    writefile.write(item2 + " = Rp " + str(harga2) + "\n")
    writefile.write(item3 + " = Rp " + str(harga3) + "\n")
    writefile.write(item4 + " = Rp " + str(harga4) + "\n")
    writefile.write(" \n")
    writefile.write("Total Belanja ="+str(total))

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023  13.05

DAFTAR BELANJA:
Sabun,    = Rp10000
Shampo,    = Rp15000
Mie instant,    = Rp5000
Detergen,    = Rp17500

Total = Rp 47500

In [ ]:
! git --version

git version 2.34.1

In [ ]:
!git config --global user.email "setyaasih34@gmail.com"
!git config --global user.name "asih1725"

In [ ]:
!ls

minggu33_new  README.md  sample_data

In [ ]:
%cd week3

[Errno 2] No such file or directory: 'week3'
/content

In [ ]:
!mkdir week3
%cd week3

/content/week3

In [ ]:
!git status

On branch main
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   ../README.md

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	../.config/
	../minggu33_new/
	../sample_data/

no changes added to commit (use "git add" and/or "git commit -a")

In [ ]:
!ls

In [53]:
%cd week3

[Errno 2] No such file or directory: 'week3'
/content/week3

In [54]:
!pwd

/content/week3

In [55]:
!echo "# Beberapa teks dummy" >> new.md

In [67]:
!git add .

In [68]:
!git commit -m "committing from colab"

[main 7c04648] committing from colab
 1 file changed, 1 insertion(+)
 create mode 100644 week3/new.md

In [74]:
 !git remote -v

origin	git@github.com:asih1725/minggu3.git (fetch)
origin	git@github.com:asih1725/minggu3.git (push)

In [76]:
!git remote set-url origin https://github.com/asih1725/week3.git.

In [78]:
!git config --global credential.helper store

In [81]:
!git push --set-upstream origin main

Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 2 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (7/7), 530 bytes | 530.00 KiB/s, done.
Total 7 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/asih1725/week3.git
 * [new branch]      main -> main
Branch 'main' set up to track remote branch 'main' from 'origin'.